ENVIRONMENT=

APP_NAME=
APP_DESCRIPTION=
APP_VERSION=
APP_HOST=
APP_PORT=
APP_SECRET_KEY=
APP_LOG_LEVEL=
APP_LOG_COLOR=
APP_LOGS_DIR=
APP_JWT_ALGORITHM=
APP_JWT_SECRET_KEY=
APP_JWT_EXP_TIME=
APP_BASE_URL=
APP_DOCS_USERNAME=
APP_DOCS_PASSWORD=
APP_AUTH_USERNAME=
APP_AUTH_PASSWORD=
APP_SUPPORT_EMAIL=
APP_SCHEDULER_MAX_INSTANCE=
APP_APIS_VERSION=

PG_DB_HOST=
PG_DB_PORT=
PG_DB_USER=
PG_DB_PASSWORD=
PG_DB_NAME=
PG_MIN_CONNECTION=
PG_MAX_CONNECTION=
PG_DEFAULT_PAGE=
PG_DEFAULT_PAGINATION=
PG_DEFAULT_MAX_LIMIT=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=

AGENT_AUTORUN=
AGENT_POLL_SECONDS=
AGENT_MAX_CONCURRENCY=
AGENT_MAX_TICKETS_PER_TICK=
AGENT_MAX_RETRIES=
AGENT_FAULT_INJECTION=
AGENT_DRAW_GRAPH=

HISTORY_TTL=
HISTORY_TTL_REFRESH_ON_READ=

GOOGLE_API_KEY=
GROQ_API_KEY=
OPENAI_API_KEY=

WHICH_KNOWLEDGE_BASE=
VECTOR_DB_NAME=
CHUNK_SIZE=
CHUNK_OVERLAP=
KNOWLEDGE_BASE_GDRIVE_FILE_ID=
EMBEDDING_MODEL=
NO_TOP_K_CHUNKS=
NO_TOP_N_CHUNKS=
