fastapi
uvicorn[standard]
pydantic
pydantic-settings

SQLAlchemy
asyncpg
psycopg2-binary
alembic

python-json-logger
concurrent-log-handler
fastapi-maintenance

APScheduler

langgraph
langchain-core
langchain-openai
langchain-google-genai
langchain-groq

chromadb

redis

jinja2

# Auth / tokens / password hashing
PyJWT
passlib[bcrypt]
